{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_pet') }}" method=post class=add-pet>
      <dl>
        <dt>Type:
        <dd><input type=text size=30 name=type>
        <dt>Name:
        <dd><input type=text size=30 name=name>
        <dt>Age:
        <dd><input type=number step=0.5 size=30 name=age>
        <dt>Weight:
        <dd><input type=number step=0.1  size=30 name=weight>
        <dt>Hungry:
        <dd><input type=checkbox id="hungry" name=hungry size=30>
        <dt>Photo:
        <dd><textarea name=photo rows=5 cols=40></textarea>
        <dd><input type=submit value="Add Pet">
      </dl>
    </form>
  {% endif %}
  <ul class=pets>
  {% for pet in pets %}
    <li><h2>{{ pet.type }}</h2>
    <strong>Name: </strong>{{ pet.name }}</br>
    <strong>Age: </strong>{{ pet.age|safe }}</br>
    <strong>Weight: </strong>{{ pet.weight|safe }}</br>
    <strong>Hunger: </strong>{{ 'Famished' if pet.hungry==1 else 'Nope' }}</br>
    <strong>Photo: </strong><pre>{{ pet.photo }}</pre></br>
  {% else %}
    <li><em>Unbelievable.  No pets here so far</em>
  {% endfor %}
  </ul>
{% endblock %}